body, html, div, p, ul, li, a{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    color:white;
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
}

img{
    max-width: 250px;
    height: auto;
}

body{
    font-family: 'Quicksand', sans-serif;
    color: #bbbbbb;

}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 83vh 7vh;
    grid-gap: 0px;
  }

header{
    width: 100%;
    background-color: #333333;
    grid-column-start: 1;
    grid-column-end: 2;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#333333;
    height: 100%;
    padding: 0px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.menu{
    display: flex;
}

.menu li{
    padding-left: 20px;
}

main{
    width: 100%;
    background-color: #eeeeee;
    grid-column-start: 1;
    grid-column-end: 2;
    overflow: scroll !important;
}

main h2{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    color:#333333;
    text-align: center;
}

.galery {
    background-color:#eeeeee;
    max-width: 800px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.photo-block{
    margin-bottom: 20px;
    max-width: 250px;
}

.photo-block h4{
    color: #333333;
    max-width: 250px;
    text-align: center;
}

.photo-block p{
    text-align: justify;
    color: #333333;
    padding: 5px;
}

footer{
    width: 100%;
    background-color: #333333;
    grid-column-start: 1;
    grid-column-end: 2;
}

.footer{
    max-width: 800px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    height: 100%;
}



